{
    auto_https disable_redirects
}

http://localhost {
    root * web/
    file_server
}

https://localhost {
    root * web/
    file_server
    handle_path /AuthServer/* {
        reverse_proxy localhost:8080
    }
}
